{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form method="post" action="/items">
        <input name="new_item" type="text" />
        <button type="submit">
            Add item
        </button>
      </form>
      <h2>Items</h2>
      <ul class="list-unstyled mb-4">
        {% for item in items %}
          <li>
            <form method="post" action="{{ '/items/{id}/toggle'.format(id = item.id) }}">
              <div class="form-check">
                <input
                  class="form-check-input"
                  id="check-item-{{ item.id }}"
                  type="checkbox"
                  onChange="this.form.submit()"
                  {% if item.status == "Complete" %}
                    checked
                  {% endif %}
                />
                <label for="check-item-{{ item.id }}">{{ item.title }}</label>
              </div>
            </form>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
{% endblock %}